extends layout

block layout-content
  div.View
    h1.Banner JEFFRY AMACHREE: Oracle Code
    div.Message
      div.Title
        h3 Making the Best
        h1 Development For Devs
      span.Details Access Oracle Cloud today
    div.NavButtons
      a(href="http://oracle.com/cloud")
          div.NavButton Just dive in!